body {
  background-color: $base-background-color;
  background-image: url("../assets/background.png");
  background-repeat: repeat-y;
  background-position: right top;
  margin: 0;
  font-family: $font-family-serif;
  
  .page-content {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $screen-size-small-menu) {
      flex-direction: column;
    }

    .side-content {
      flex: none;
    }

    .main-content {
      flex: auto;
      padding: $spacing-xl;

      img, iframe {
        max-width: 100%;
      }

      .page {
        section:not(:last-child) {
          margin-bottom: $spacing-xl;
        }

        p {
          margin: 0 0 $spacing-md;
          line-height: 1.5em;
        }

        &.practice {
          @media screen and ( min-width: 1200px) {
            .training-location {
              display: flex;
              flex-direction: row;
              gap: $spacing-md;
              margin-bottom: $spacing-md;
              
              .info {
                flex: none;
                width: 280px;
              }
  
              .map {
                flex: auto;
              }
            }
          }

          ul {
            padding: $spacing-md $spacing-md $spacing-md $spacing-xl;
            background-color: $light-gray;
            color: $base-gray;
            border-radius: 8px;
          }
        }
      }

      .aikido {
        text-align: justify;
        .row {
          padding-bottom: $spacing-md;
        }
      }

      .links {
        .sites {
          text-align: center;
          background-color: rgba($dark-background-color, 0.8);
          padding-top: $spacing-xl;
          padding-bottom: $spacing-xl;

          .link {
            display: inline-block;
            &:not(:last-child) {
              margin-right: $spacing-lg;
            }
            img {
              height: 150px;
            }
          }
        }
        .docs {
          h1 {
            margin-top: 0;
          }
        }
      }
    }
  }
}
