body {
  background-color: $base-background-color;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  .page-content {
    display: flex;
    flex-direction: row;

    @media screen and (orientation: landscape),
      screen and (min-width: $screen-max-width) {
      max-width: $screen-max-width;
    }

    @media screen and (orientation: portrait),
      screen and (max-width: $screen-size-small-menu) {
      flex-direction: column;
      width: 100%;
    }

    .side-content {
      flex: none;
    }

    .main-content {
      background-image: url("../assets/background.png");
      background-repeat: repeat-y;
      background-position: right top;
      flex: auto;
      padding: $spacing-xl;

      img,
      iframe {
        max-width: 100%;
      }

      .page {
        section:not(:last-child) {
          margin-bottom: $spacing-xl;
        }

        p {
          margin: 0 0 $spacing-md;
        }

        &.index {
          .content {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            align-items: center;

            .logo {
              flex: none;
              padding-top: 10px;

              img {
                width: 200px;
              }
            }
          }
        }

        &.aikido {
          img {
            width: 200px;
            float: left;
            margin: 20px;
          }

          .letters {
            margin-bottom: 20px;

            button {
              font-weight: bold;
            }
          }

          .tab-content {
            padding: $spacing-md $spacing-md $spacing-md $spacing-xl;
            background-color: $light-gray;
            color: $base-gray;
            border-radius: 8px;
            padding-right: 40px;

            .row {
              padding: 10px;
              display: grid;
              grid-template-columns: 1fr 4fr;

              @media screen and (orientation: portrait),
                screen and (max-width: $screen-size-small-menu) {
                text-align: left;
              }

              dt {
                text-align: right;
              }

              dd {
                margin-left: 10px;
              }
            }
          }
        }

        &.practice {
          @media screen and (orientation: landscape),
            screen and (min-width: $screen-max-width) {
            .training-location {
              display: flex;
              flex-direction: row;
              gap: $spacing-md;
              margin-bottom: $spacing-md;

              .info {
                flex: none;
                width: 280px;
              }

              .map {
                flex: auto;
              }
            }
          }

          ul {
            padding: $spacing-md $spacing-md $spacing-md $spacing-xl;
            background-color: $light-gray;
            color: $base-gray;
            border-radius: 8px;
          }
        }

        &.links {
          .sites {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
            text-align: center;
            background-color: rgba($dark-background-color, 0.8);
            padding: $spacing-xl $spacing-lg $spacing-xl $spacing-lg;
            border-radius: 8px;

            .link {
              img {
                height: 150px;
              }
            }
          }
        }
      }

      .aikido {
        text-align: justify;
        .row {
          padding-bottom: $spacing-md;
        }
      }
    }
  }
}
