.navbar {
  position: sticky;
  top: 0;
  background-color: $navbar-background-color;
  box-shadow: 0px 0px 30px $navbar-shadow-color;
  z-index: 400;

  @media screen and (max-width: $screen-size-small-menu) {
    position: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $screen-size-small-menu) {
      flex-direction: column;
    }

    .home-item {
      padding: $spacing-md $spacing-lg $spacing-md $spacing-lg;

      img {
        height: 34px;
        width: 110px;
      }
    }

    .nav-item {
      @media screen and (max-width: $screen-size-small-menu) {
        border-top: $base-border;
      }

      a {
        display: block;
        padding: $spacing-lg $spacing-lg $spacing-lg $spacing-lg;
        color: $dark-gray;
        height: 18px;
        white-space: nowrap;
        font-weight: bold;

        &:hover, 
        &:focus,
        &:active {
          background-color: $dark-gray;
          color: $white-gray;
        }

        &.active {
          background-color: $dark-gray;
          color: $red;
        }
      }
    }
  }
}
