.side-content {
  background-color: $dark-background-color;
  padding: $spacing-lg;
  width: $left-side-width;

  @media screen and (orientation: portrait),
    screen and (max-width: $screen-size-small-menu) {
    width: inherit;

    .sections {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $spacing-md;
    }
  }

  h1 {
    color: $white-gray;
    margin-bottom: $spacing-lg;
  }

  h2 {
    margin-bottom: $spacing-md;
  }

  section {
    margin-bottom: $spacing-lg;
    min-width: 148px;
  }
}
