<nav class="navbar">
  <ul>
    <li class="home-item">
      <LinkTo @route="index">
        <img with="100" src="{{@rootURL}}assets/logo-text.png" alt="Aiki3" />
      </LinkTo>
    </li>
    <li class="nav-item"><LinkTo @route="aikido">L'aïkido</LinkTo></li>
    <li class="nav-item"><LinkTo @route="club">Le club</LinkTo></li>
    <li class="nav-item"><LinkTo @route="practice">Venir Pratiquer</LinkTo></li>
    <li class="nav-item"><LinkTo @route="links">Liens</LinkTo></li>
    <li class="nav-item"><LinkTo @route="stages">Stages</LinkTo></li>
  </ul>
</nav>
