<BsNavbar @position="fixed-top" as |navbar|>
  <navbar.toggle @class="navbar-toggler-right" />
  <LinkTo @route="index" class="navbar-brand">
    <img src="{{@rootURL}}assets/logo-text.png" class="d-inline-block align-top" alt="Aiki3">
  </LinkTo>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="aikido">
          <NavbarArrowItem @title="L'aïkido" />
        </nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="club">
          <NavbarArrowItem @title="Le club" />
        </nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="practice">
          <NavbarArrowItem @title="Venir Pratiquer" />
        </nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="links">
          <NavbarArrowItem @title="Liens" />
        </nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="stages">
          <NavbarArrowItem @title="Stages" />
        </nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>
<div class="navbar-underline"></div>
