<h1>Année <br /> 2024-2025</h1>
<div class="sections">
  <section>
    <h2>Mardi</h2>
    <p>De 20h à 22h</p>
    <p>Complexe Marcel-ARTELESA</p>
    <p>Rue Raymond Burgard</p>
    <p>10000 Troyes</p>
  </section>
  <section>
    <h2>Jeudi</h2>
    <p>De 20h15 à 21h45</p>
    <p>Complexe Sportif Raymond Laurent</p>
    <p>1 Pl. Charles de Gaulle</p>
    <p>10430 Rosières-prés-Troyes</p>
  </section>
  <section>
    <h2>Dimanche</h2>
    <p>De 9h30 à 11h30</p>
    <p>Complexe Marcel-ARTELESA</p>
    <p>Rue Raymond Burgard</p>
    <p>10000 Troyes</p>
  </section>
</div>
<section>
  <h2>Contact</h2>
  <p>
    <a href="mailto:michel.czerniak@cegetel.net">michel.czerniak@cegetel.net</a>
  </p>
</section>
