<h1>Année <br /> 2023-2024</h1>
<div class="sections">
  <section>
    <h2>Mardi</h2>
    <p>De 20h à 22h</p>
    <p>Complexe Marcel-ARTELESA</p>
    <p>Rue Raymond Burgard</p>
    <p>10000 Troyes</p>
  </section>
  <section>
    <h2>Jeudi</h2>
    <p>De 20h à 22h</p>
    <p>TOS KARATE-DO</p>
    <p>19 Rue de la tour Boileau</p>
    <p>10000 Troyes</p>
    <p>(sauf en Juillet et Août)</p>
  </section>
  <section>
    <h2>Dimanche</h2>
    <p>De 9h30 à 11h30</p>
    <p>Complexe Marcel-ARTELESA</p>
    <p>Rue Raymond Burgard</p>
    <p>10000 Troyes</p>
  </section>
</div>
<section>
  <h2>Contact</h2>
  <p>
    <a href="mailto:info@aiki3.com">info@aiki3.com</a>
  </p>
</section>
