{{page-title "Aiki3 - club d'Aikido à Troyes"}}
<Navbar />
<div class="page-content">
  <main class="main-content">
    {{outlet}}
  </main>
  <div class="side-content">
    <Sidepanel />
  </div>
</div>
