{{page-title "Aiki3 - club d'Aikido à Troyes"}}
<Navbar />
<div class="page-content">
  <div class="side">
    <SidemenuItem />
  </div>
  <main class="main-content container-fluid">
    {{outlet}}
  </main>
</div>
