{{page-title "Aiki3 club d'Aikido à Troyes"}}
{{navbar-item}}
<div class="page-content">
  {{sidemenu-item class="side"}}
  <main class="main-content container-fluid">
    {{outlet}}
  </main>
</div>
