{{page-title "Venir pratiquer - Aiki3 - club d'Aikido à Troyes"}}
<div class="page practice">
  <section>
    <h1>Que dois-je faire pour venir pratiquer&nbsp;?</h1>
    <h2>Faut-il avoir une expérience particulière&nbsp;?</h2>
    <p>Non, tous les niveaux sont acceptés, débutants ou expérimentés.</p>
    <h2>Faut-il apporter du matériel&nbsp;?</h2>
    <p>
      Pour les premiers cours, vous pouvez porter un survêtement en coton.
      Ensuite, si vous souhaitez nous rejoindre, un kimono type judo et une ceinture blanche sont nécessaires pour la pratique.
    </p>
  </section>

  <section>
    <h1>Plan d'accès et horaires des cours</h1>
      <div class="training-location">
        <div class="info">
          <h2>Mardi et Dimanche</h2>
          <p>Mardi de 20h à 22h</p>
          <p>Dimanche de 9h30 à 11h30</p>
          <p>Complexe Marcel-ARTELESA</p>
          <p>Rue Raymond Burgard, 10000 Troyes</p>
        </div>
        <GMap class="map" @lat="48.2761301" @lng="4.0670798" @zoom={{17}} />
      </div>
      <div class="training-location">
        <div class="info">
          <h2>Jeudi</h2>
          <p>de 20h à 22H</p>
          <p>TOS KARATE-DO</p>
          <p>19 Rue de la tour Boileau, 10000 Troyes</p>
          <p>(sauf en Juillet et Août)</p>
        </div>
        <GMap class="map" @lat="48.291236" @lng="4.067936" @zoom={{17}} />
      </div>
  </section>

  <section>
    <h1>Tarifs</h1>
    <h2>Côtisation annuelle</h2>
    <ul>
      <li><p>Adulte&nbsp;: 200 euros</p></li>
      <li><p>Étudiant&nbsp;: 150 euros</p></li>
      <li><p>Couple&nbsp;: 2 x 150 euros</p></li>
    </ul>
    <h2>Licence fédérale</h2>
    <ul>
      <li><p>Adulte&nbsp;: 37 euros</p></li>
      <li><p>Enfant&nbsp;: 25 euros</p></li>
    </ul>
    <em class="col-12">Un certificat médical vous autorisant la pratique de l'Aïkido est nécessaire pour toute demande de licence.</em>
  </section>

  <section>
    <h1>Étiquette</h1>
    <p>
      Bien qu'il y ait de nombreuses règles d'étiquette à assimiler, elles viendront naturellement avec une pratique régulière.
      Ne soyez pas vexé si on vous corrige un détail, car chacun est important pour la sécurité de tous et a un but  éducatif précis.
      L'Aïkido n'est pas une religion mais une éducation et un perfectionnement de l'esprit.
    </p>
    <ul>
      <li><p>Respectez vos instruments de travail. Le GI (tenue pratique) doit être propre et en bon état, les armes rangées lorsqu'elles ne sont pas utilisées. Ne vous servez pas d'un GI ou d'armes qui ne vous appartiennent pas.</p></li>
      <li><p>Pour votre sécurité, le port des bijoux est à proscrire pendant la pratique.</p></li>
      <li><p>Il est interdit de manger, boire, fumer et mastiquer du chewing-gum sur le tapis, ni en dehors pendant la pratique.</p></li>
      <li><p>Saluez en montant sur le tapis et en le quittant, toujours en direction du SHOMEN et du fondateur.</p></li>
      <li><p>Parlez le moins possible sur le tapis.</p></li>
      <li><p>Quelques minutes avant la pratique, vous devez être échauffé, assis en seiza, tous sur une même ligne. Ces quelques minutes permettent à votre esprit de faire le vide, de se débarrasser des problèmes de la journée et préparent à l'étude.</p></li>
      <li><p>Le cours commence et se termine par une cérémonie formelle. Il est essentiel d'être à l'heure pour y participer. Cependant, si vous arrivez en retard, attendez à côté du tapis jusqu'à ce que l'enseignant vous fasse signe de vous joindre au cours. Saluez en montant sur le tapis. Veillez aussi à ne pas perturber le cours.</p></li>
      <li><p>On dit habituellement « Onegaï shimasu » ( litt : je vous fais une requête, s'il vous plaît) au moment du salut du début du cours et « Arigatoo gozaïmashita » (merci) en fin de cours.</p></li>
      <li><p>La façon correcte de s'asseoir sur le tapis est la position en seiza. Si vous êtes blessé au genou, vous pouvez vous asseoir en tailleur. N'allongez jamais les jambes et ne vous adossez pas au mur ou à un poteau. Vous devez être disponible à chaque instant.</p></li>
      <li><p>Quand l'enseignant montre une technique, restez assis en seiza et regardez attentivement. Après la démonstration, saluez un partenaire et commencez à travailler.</p></li>
      <li><p>Dès que la fin d'une technique est annoncée, arrêtez immédiatement votre mouvement, saluez votre partenaire et rejoignez les autres pratiquants assis en ligne.</p></li>
      <li><p>Ne restez jamais debout sur le tapis sans travailler. S'il le faut, restez en seiza en attendant votre tour.</p></li>
      <li><p>Si pour une raison ou une autre vous devez absolument poser une question à l'enseignant, allez vers lui, ne l'appelez jamais&nbsp;: saluez-le avec respect et attendez qu'il soit disponible. (Un salut debout suffit dans ce cas).</p></li>
      <li><p>Quand l'enseignant vous montre un mouvement en particulier pendant le cours, mettez-vous à genoux et regardez attentivement. Saluez-le lorsqu'il a terminé. Quand il corrige un autre pratiquant, vous pouvez vous arrêtez de travailler pour regarder. Asseyez-vous en seiza et saluez de même.</p></li>
      <li><p>Respectez les pratiquants les plus gradés. Ne discutez jamais à propos de technique. Vous êtes là pour travailler, non pour imposer vos idées aux autres.</p></li>
      <li><p>Si vous connaissez le mouvement et que vous travaillez avec quelqu'un qui ne le connaît pas, vous pouvez le guider. Mais n'essayez pas de corriger si vous n'avez pas le niveau YUDANSHA (ceinture noire).</p></li>
      <li><p>Ne vous prélassez pas sur le tapis avant ou après le cours. Il est réservé à ceux qui désirent pratiquer.</p></li>
      <li><p>Ne quittez pas le tapis pendant la pratique, sauf en cas de blessure ou de malaise.</p></li>
      <li><p>Le tapis devrait être balayé chaque jour avant les cours et en fin de journée. Chacun est responsable de la propreté du dojo.</p></li>
      <li><p>Il convient de faire son possible pour respecter l'harmonie du dojo et de la plénitude à la pratique.</p></li>
    </ul>

    <p>Vous pouvez inviter quiconque à venir regarder un cours à n'importe quel moment, à condition que les règles suivantes soient observées :</p>
    <ul>
      <li><p>Prenez place avec discrétion, ne posez jamais les jambes sur un meuble et n'adoptez pas une position semi-allongée</p></li>
      <li><p>Il est interdit de boire ou de manger pendant les cours.</p></li>
      <li><p>Ne parlez à personne se trouvant sur le tapis.</p></li>
      <li><p>Ne vous promenez pas pendant que le professeur montre ou corrige un mouvement.</p></li>
    </ul>
  </section>

</div>
